<md-toolbar color="secondary">

  <span>Angular 2 Seed</span>
  <span fxFlex></span>

  <span>
    <nav md-tab-nav-bar aria-label="tab-links">
        <a  md-tab-link
            *ngFor="let tabLink of tabLinks; let i = index"
            [routerLink]="tabLink.link"
            [active]="activeLinkIndex === i"
            (click)="activeLinkIndex = i">
            {{tabLink.label}}
        </a>
    </nav>
  </span>

</md-toolbar>

<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>